# Created by .ignore support plugin (hsz.mobi)
### JetBrains template
.idea
#target
*.iml
/proxy-loan-beta-web/proxy-loan-beta-web-common/proxy-loan-beta-web-common.iml
/proxy-loan-beta-web/proxy-loan-beta-web-backend/proxy-loan-beta-web-backend.iml
/proxy-loan-beta-test/proxy-loan-beta-test.iml
/proxy-loan-beta-main/proxy-loan-beta-main.iml
/proxy-loan-beta-core/proxy-loan-beta-core.iml
/proxy-loan-beta-web/proxy-loan-beta-web-wechat/proxy-loan-beta-web-wechat.iml
